<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- ディレクトリの名称指定 -->
    <display-name>App</display-name>
    <description>
      mydir servlets and JSP pages.
    </description>
	<servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>web.TestServlet</servlet-class>
		<init-param>
			<param-name>javaEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
    </servlet>
    <!-- デフォルトのサーブレットマッピング -->
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

</web-app>