<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>ユーザー情報登録</title>
	</head>
	<body>
		<p align="center">ユーザー情報登録</p>

		<form action="/webApp1/servlet/TestServlet" method="post" name="frm">
			<div align="center">
				<table border="0">
					<tr>
						<td>名前：</td><td><input type="text" name="name" value=""></td>
					</tr>
					<tr>
						<td>年齢：</td><td><input type="text" name="age" value=""></td>
					</tr>
					<tr>
						<td>性別：</td><td><input type="text" name="sex" value=""></td>
					</tr>
					<tr>
						<td>電話番号：</td><td><input type="text" name="tel_no" value=""></td>
					</tr>
					<tr>
						<td>住所：</td><td><input type="text" name="address" value=""></td>
					</tr>
					<tr>
						<td align="center" colspan='2'><input type="submit" value="登録"></td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>